body {
  color: #444;
  font-family: 'EB Garamond', serif;
  font-size: 1.05rem;
  line-height: 26px;
}

h2 {
  margin-top: 40px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(82, 35, 152);
}

a:hover {
  text-decoration: underline;
}

.content {
  margin: 20px auto;
  max-width: 500px;
}

.logo {
  margin: 20px auto;
}
