body {
  color: #444444;
  background-color:#fefefe;
  font-family: 'EB Garamond', serif;
  font-size: 1.25rem;
  line-height: 36px;
}

h2 {
  margin-top: 40px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(82, 35, 152);
}

a:hover {
  text-decoration: underline;
}

.content {
  margin: 20px auto;
  max-width: 600px;
}

.logo {
  margin: 20px auto;
}
h1.big {
  line-height: 1.2;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
